

/*estilos para mi proyecto0*/

header, nav, section, footer {
  max-width: 80%;
  margin: auto;
  padding: 5px;
  font-family: arial;
}
.footer {
  font-size: 10px;
  color: black;
  padding: 5px;
  text-align: center;
}
.parrafo {
  font-size: 14px;
  font-family: arial;
  color: black;
}
h1, h2 {
  font-family: arial;
  color: black;
  text-align: center;
}
input[type=text], input[type=radio], input[type=password], input [list] {
  background-color: lightgray;
  color: black;
  padding: 5px;
  border: 1px solid gray;
}
.forma-centrada {
  text-align: center;
  padding-top: 10px;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}
.flex-container > div {
  background-color: yellow;
  font-size: 14px;
  margin: 20px;
  padding: 20px;
  width: 200px;
}

/*clases SUDO*/
a::before {
  content: "  | Hacer click";
  font-style: italic;
}
p::selection {
  background-color: yellow;
  color: red;
}

/* viewports */
@media print {
  .no-se-imprime {
    display: none;
  }
}
@media (min-width:500px) {
  h1::before {
    content: "Bienvenido a nuestra página corporativa de Aames Publishing";
  }
}
@media (max-width: 499px) {
  h1::before {
    content: "Hola! ";
  }
}
