

/*estilos para mi proyecto0*/

header, nav, section, footer {
  max-width: 80%;
  margin: auto;
  padding: 5px;
  font-family: arial;
}
.footer {
  font-size: 10px;
  color: black;
  padding: 5px;
  text-align: center;
}
.parrafo {
  font-size: 14px;
  font-family: arial;
  color: black;
}
h1, h2 {
  font-family: arial;
  color: black;
  text-align: center;
}
ul li {
  font-family: arial;
  font-size: 12px;
  display: inline;
}
ul li a {
  padding-left: 5px;
}
input[type=text], input[type=radio], input[type=password] {
  background-color: lightgray;
  color: black;
  padding: 5px;
  border: 1px solid gray;
}
