/*estilos en formato SASS*/

$color: red;
$fuente: verdana;
$tamano: 20px;

ul li{
  font-size: $tamano;
  color: $color;
  font-family: $fuente;
}

ol {
  font-size: $tamano;
  color: $color;
  font-family: $fuente;
}
