/*estilos en formato SASS*/
/*2020 Gabriel Rosales Communications Mexico*/

/*variables*/
$color: red;
$fuente: verdana;
$tamano: 20px;
$centrado: center;
$en_linea: inline;
/*variables*/

ul li{
  font-size: $tamano;
  font-family: $fuente;
  display: $en_linea;
}
ul li a {
  padding-left: 10px;
  color: $color;
}
ul li a:hover {
  text-decoration: underline;
}
ol {
  font-size: $tamano;
  color: $color;
  font-family: $fuente;
}
.main-menu {
  font-size: $tamano;
  color: $color;
  text-align: $centrado;
}
